
      <h1>Top Courses</h1>
      <div *ngFor="let courses of top_courses" class="row">
        <div class="col-md-4">
          {{courses.name}}
        </div>
        <div class="col-md-7">
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" [style.width.%]="(courses?.students_count/(total_students || 1) * 100)">{{(courses?.students_count/(total_students || 1) * 100)}}</div>
          </div>
        </div>
      </div>

      <h1>Top Students</h1>
      <div *ngFor="let courses of top_students" class="row">
        <div class="col-md-4">
          {{courses.name}}
        </div>
        <div class="col-md-7">
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" [style.width.%]="(courses?.courses_count/(total_courses || 1) * 100)">{{(courses?.courses_count/(total_courses || 1) * 100)}}</div>
          </div>
        </div>
      </div>
