<form (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>

    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="lastname" name="lastname">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age">
    </div>

    <div class="form-group">
        <label for="cedula">Cedula</label>
        <input type="text" class="form-control" id="cedula" [(ngModel)]="cedula" name="cedula">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
    </div>

  <table class="table">
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Start Date
      </th>
      <th>
        End Date
      </th>
      <th>
        Type
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>
        {{course.name}}
      </td>
      <td>
        {{course.start_date}}
      </td>
      <td>
        {{course.end_date}}
      </td>
      <td>
        {{course.type}}
      </td>
      <td>
        <button class="btn btn-primary" (click)="edit(course.id)">Edit</button>
        <button class="btn btn-danger" (click)="delete(id, course.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>




    <button type="submit" class="btn btn-primary">Submit</button>
</form>
